.card {
	display: flex;
	border-radius: 10px;
	border: var(--card-border);
	box-shadow: var(--card-shadow);
	padding: 10px;
	gap: 10px;
}

.lines {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card .lines p {
	line-height: 1;
}

.photoWrapper {
	flex: none;
	width: 100px;
	height: 100px;
	position: relative;
	background-image: radial-gradient(at bottom right, color-mix(in srgb, 50% var(--theme), transparent), var(--theme));
	border-radius: 50%;
	overflow: hidden;
}

.photo {
	object-fit: cover;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
}

.name {
	font-weight: bold;
	font-size: 18px;
}

.secondary {
	color: var(--secondary);
	font-size: 14px;
}

.links {
	display: flex;
	gap: 5px;
}
