.button {
	display: inline-flex;
	align-items: center;
	min-height: 2.5em;
	padding: 0.25em 1em;
	gap: 0.5em;
	border-radius: 1.25em;
	border: var(--card-border);
	box-shadow: var(--card-shadow);
	background-color: var(--background);
	transition: background-color 0.2s;
}
.button:hover {
	background-color: var(--card-hover);
}

.primary {
	border-color: transparent;
	background-color: var(--theme);
	color: var(--theme-text);
}
.primary:hover {
	background-color: var(--theme-hover);
}

.small {
	min-height: 2em;
	padding: 0 0.75em;
	border-radius: 1em;
}
