.container {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.upcoming {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 10px;
}

.upcoming :first-child {
	grid-row: 1 / 3;
}
@media (max-width: 800px) {
	.upcoming :first-child {
		grid-row: unset;
		grid-column: 1 / 3;
	}
}

.years {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.year {
	padding: 5px 10px;
	border-radius: 50px;
	border: var(--card-border);
	box-shadow: var(--card-shadow);
	transition: background-color 0.2s;
}
.year:hover {
	background-color: var(--card-hover);
}

.active {
	border-color: transparent;
	background-color: var(--theme);
	color: var(--theme-text);
}
.active:hover {
	background-color: var(--theme-hover);
}

.events {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 10px;
}
