.container {
	flex: auto;
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.posts {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.post {
	width: min(100%, 390px);
}