.blobWrapper {
	flex: auto;
	display: flex;
	position: relative;
}

@media (max-width: 1000px) {
	.blobWrapper {
		align-self: stretch;
	}
}

.blob {
	position: absolute;
	right: -150px;
	top: 50%;
	left: 0;
	height: 250px;
	border-radius: 300px;
	background-image: linear-gradient(90deg, hsl(170, 79%, 55%), hsl(190, 79%, 55%));
	filter: blur(100px);
	opacity: 0.5;
	transform: rotate(-10deg) translateY(-50%);
	z-index: -1;
}

.gridWrapper {
	flex: auto;
	display: flex;
	overflow: hidden;
	padding: 40px;
	margin: -80px -40px;
}

.grid {
	flex: auto;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(18, 1fr);
	gap: 15px;
	aspect-ratio: 1 / 1;
	transform: translateX(2.5%) rotate(-45deg);
}
@media (max-width: 1000px) {
	.grid {
		max-width: calc(100vh - 300px);
		margin: 0 auto;
	}
}

.imageWrapper {
	position: relative;
	animation: appear backwards;
}

.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

@keyframes appear {
	from {
		filter: blur(30px);
		opacity: 0;
		transform: scale(1.2);
	}

	to {
		filter: blur(0);
		opacity: 1;
		transform: scale(1);
	}
}
