.navbar {
	display: flex;
	justify-content: center;
	border-bottom: 3px solid var(--theme);
	box-sizing: border-box;
	height: 60px;
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	padding: 0 20px;
	font-size: 18px;
	gap: 20px;
}

.logoWrapper {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-right: auto;
}

.link {
	display: flex;
	align-items: center;
	font-weight: 500;
	position: relative;
}
.link::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -10px;
	left: -10px;
	right: -10px;
	height: 10px;
	border-radius: 50px;
	background-color: var(--theme);
	filter: blur(10px);
	visibility: hidden;
	opacity: 0;
	transition:
		visibility 0.5s,
		opacity 0.5s;
}
.active::after {
	visibility: visible;
	opacity: 1;
}
