.container {
	width: 100%;
	max-width: var(--max-width);
	margin: 0 auto;
	white-space: pre-wrap;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.coverWrapper {
	width: 100%;
	aspect-ratio: 16 / 9;
	position: relative;
}

.cover,
.blur {
	border-radius: 10px;
}

.cover {
	box-shadow: var(--card-shadow);
}

.blur {
	z-index: -1;
	filter: blur(40px);
	animation: appear 2s 0.5s both;
}
@media (prefers-color-scheme: light) {
	.blur {
		display: none;
	}
}
@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.7;
	}
}

.info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.button {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 40px;
	padding: 0 20px;
	border-radius: 50px;
	border: var(--card-border);
	box-shadow: var(--card-shadow);
	transition: background-color 0.2s;
}
.button:hover {
	background-color: var(--card-hover);
}
.hasIcon {
	padding-left: 15px;
}

.primary {
	border-color: transparent;
	background-color: var(--theme);
	color: var(--theme-text);
}
.primary:hover {
	background-color: var(--theme-hover);
}
