.wrapper {
	height: calc(100vh - var(--navbar-height));
	position: relative;
	display: flex;
	align-items: center;
	padding: 20px;
}

.blob {
	position: absolute;
	right: -100px;
	top: calc(50vh - 180px);
	width: 600px;
	height: 250px;
	border-radius: 300px;
	background-image: linear-gradient(hsl(170, 79%, 55%), hsl(190, 79%, 55%));
	filter: blur(100px);
	opacity: 0.5;
	transform: rotate(-10deg);
	z-index: -1;
}

.buttons {
	display: flex;
	margin-top: 10px;
}

.hasIcon {
	padding-right: 10px;
}
.hasIcon svg {
	transition: transform 0.1s;
}
.hasIcon:hover svg {
	transform: translateX(2px);
}
