.years {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.year {
	padding: 5px 10px;
	border-radius: 50px;
	border: var(--card-border);
	box-shadow: var(--card-shadow);
	transition: background-color 0.2s;
}
.year:hover {
	background-color: var(--card-hover);
}

.active {
	border-color: transparent;
	background-color: var(--theme);
	color: var(--theme-text);
}
.active:hover {
	background-color: var(--theme-hover);
}

.members {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
	gap: 10px;
}
