.footer {
	--background: #202020;
	--foreground: #ededed;
	background-color: var(--background);
	display: flex;
	justify-content: center;
}

.container {
	width: 100%;
	max-width: var(--max-width);
	padding: 20px;
	display: flex;
	justify-content: center;
}

.container > a {
	display: block;
	padding: 0 0.75rem;
}

.acm-logo,
.youtube-logo,
.discord-logo,
.sdctf-logo {
	width: 2.5rem;
	height: 2.5rem;
	background-color: white;
	mask-size: contain;
	transition: background 0.15s;
}
.acm-logo {
	mask-image: url("/assets/acm.svg");
	position: relative;
}
@keyframes rainbow-spin {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 200px 0;
	}
}
@keyframes fade-in-and-out {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.acm-logo::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background: repeating-linear-gradient(90deg in oklab,
		oklab(71.7531% 0.162851 0.067685) 0%, 
		oklab(79.5766% 0.060439 0.121605) 18.75%,
		oklab(77.1074% -0.138729 0.153649) 36.98%,
		oklab(74.4551% -0.096795 -0.026325) 55.73%,
		oklab(74.0847% -0.046345 -0.130714) 75%,
		oklab(62.9435% 0.05375 -0.201375),
		oklab(71.7531% 0.162851 0.067685) 100%
	);
	background-size: 100px 30px;
	/*background-repeat: repeat;*/
	background-position: 0%;
	animation: rainbow-spin forwards linear infinite 1.2s;
}
.acm-logo:hover::after {
	animation: rainbow-spin forwards linear infinite 1.2s, fade-in-and-out 1.5s linear 1 forwards;
}
.youtube-logo {
	mask-image: url("/assets/youtube.svg");
}
.youtube-logo:hover {
	background-color: #ff0033;
}
.discord-logo {
	mask-image: url("/assets/discord.svg");
}
.discord-logo:hover {
	background-color: #5662f6;
}
.sdctf-logo {
	mask-image: url("/assets/sdctf.svg");
}
.sdctf-logo:hover {
	background-color: #f19a3e;
}
