.card {
	display: flex;
	gap: 20px;
}

.photo {
	border-radius: 50%;
	object-fit: cover;
}

.side {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.comment {
	display: flex;
	border-radius: 10px;
	padding: 10px;
	background-color: var(--background);
	border: var(--card-border);
	filter: drop-shadow(var(--card-shadow));
	transition: background-color 0.2s;
	position: relative;
	white-space: pre-wrap;
}
.card[href]:hover .comment,
.card[href]:hover .comment::before {
	background-color: var(--card-hover);
}

.comment::before {
	content: "";
	position: absolute;
	padding: 6px;
	margin: -6px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 10px;
	border: var(--card-border);
	border-right-color: transparent;
	border-top-color: transparent;
	background-color: var(--background);
	transition: background-color 0.2s;
	transform: rotate(45deg);
	left: -1px;
	top: 20px;
}

.name {
	font-weight: bold;
	font-size: 18px;
}

.role {
	color: var(--secondary);
}
